<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljk.bit.dao.StudentDao">
    <select id="queryByID" parameterType="String" resultType="Student">
        SELECT *
        FROM student
        WHERE student_ID = #{ID}
    </select>

    <insert id="insert" parameterType="StudentVo">
        INSERT INTO student(student_ID,email,password,name,role)
        VALUES (#{student.studentID},#{student.email},#{student.password},#{student.name},#{student.role})
    </insert>

    <select id="queryPasswordByID" parameterType="String" resultType="String">
        SELECT password
        FROM student
        WHERE student_ID = #{ID}
    </select>
    <select id="queryByName" parameterType="String" resultType="Student">
        SELECT *
        FROM student
        WHERE name = #{ID}
    </select>

</mapper>