<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljk.bit.dao.StudentDao">
    <select id="queryByID" parameterType="String" resultType="Student">
        SELECT *
        FROM student
        WHERE student_ID = #{id};
    </select>
    <insert id="insert" parameterType="Student">
        INSERT INTO student(student_ID,email,password,nasme)
        VALUES (#{student.studentID},#{student.email},#{student.password},#{student.name})
    </insert>
</mapper>